<%- include('../partials/head.ejs') %>
</head>
<body>
    <main class="mx-auto my-5 w-50">                   
        <p class="h5 mb-5 text-center"><%= pageTitle %></p>            
        <form action="<%= apiRoute %>" method="POST" id="dbh-budget-form" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Judul<span class="text-danger"> *</span></label>
                <input value="<%= selectedReporting?.title %>" type="text" class="form-control" name="title" id="title" required>
            </div>
            <div class="mb-3">
                <label for="period" class="form-label">Triwulan<span class="text-danger"> *</span></label>
                <input value="<%= selectedReporting?.period %>" type="text" class="form-control" name="period" id="period" required>
            </div>
            <div class="mb-3">
                <label for="year" class="form-label">Tahun <span class="text-danger"> *</span></label>                                
                <input value="<%= selectedReporting?.year %>" type="number" class="form-control" name="year" id="year" required>
            </div>
            <div class="mb-3">
                <label for="totalOpd" class="form-label">Jumlah Lembaga <span class="text-danger"> *</span></label>                                
                <input value="<%= selectedReporting?.totalOpd %>" type="number" class="form-control" name="totalOpd" id="totalOpd" required>
            </div>
            <div class="border row rounded p-2">
                <p class="h6 text-primary mb-3">Jumlah Penerimaan DBH</p>
                <div class="col me-3">                      
                    <div class="my-2">
                        <label for="pkb" class="form-label">PKB<span class="text-danger"> *</span></label>
                        <input value="<%= selectedReporting?.dbhRecieved.pkb %>" type="number" class="form-control" name="pkb" id="pkb" required>
                    </div>                                                        
                    <div class="my-2">
                        <label for="pbbkb" class="form-label">PBBKB<span class="text-danger"> *</span></label>
                        <input value="<%= selectedReporting?.dbhRecieved.pbbkb %>" type="number" class="form-control" name="pbbkb" id="pbbkb" required>
                    </div>                                                        
                    <div class="my-2">
                        <label for="pajakRokok" class="form-label">Pajak Rokok<span class="text-danger"> *</span></label>
                        <input value="<%= selectedReporting?.dbhRecieved.pajakRokok %>" type="number" class="form-control" name="pajakRokok" id="pajakRokok" required>
                    </div>                                                        
                </div>
                <div class="col-3">
                    <div class="my-2">
                        <label for="bbnkb" class="form-label">BBNKB<span class="text-danger"> *</span></label>
                        <input value="<%= selectedReporting?.dbhRecieved.bbnkb %>" type="number" class="form-control" name="bbnkb" id="bbnkb" required>
                    </div> 
                    <div class="my-2">
                        <label for="pap" class="form-label">PAP<span class="text-danger"> *</span></label>
                        <input value="<%= selectedReporting?.dbhRecieved.pap %>" type="number" class="form-control" name="pap" id="pap" required>
                    </div> 
                </div>
            </div>
            <div class="d-flex ms-2 mt-3  justify-content-end">                                                    
                <button type="button" id="clear-btn" class="btn btn-secondary mb-3 mx-2" style="width: 18%;">CLEAR</button>                            
                <button type="submit" id="submit-form-btn" class="btn btn-primary mb-3 mx-2" style="width: 18%;">SIMPAN DATA</button>                            
            </div>
        </form>                               
    </main>    

    <script src="js/admin.js"></script>

<%- include('../partials/end.ejs') %>