<%- include('../partials/head.ejs') %>
</head>
<body>
    <main class="mx-auto my-5 w-75">                   
        <p class="h2 mb-5 text-center"><%= pageTitle %></p>            
        <form action="<%= apiRoute %>" method="POST" id="create-reporting-form" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Judul<span class="text-danger"> *</span></label>
                <input value="<%= selectedReporting?.reporting.title %>" type="text" class="form-control" name="reporting[title]" id="title" required>
            </div>
            <div class="mb-3">                                
                <label for="period" class="form-label">Triwulan <span class="text-danger">*</span></label>
                <select name="reporting[period]" id="period" class="form-select period-select" aria-label="Period Select" required>
                    <option class="period-item" value="">Pilih Triwulan</option>                              
                    <option class="period-item" id="triwulan1" value="Triwulan I" <%= selectedReporting?.reporting.period === 'Triwulan I' ? 'selected' : '' %>>Triwulan I</option>                              
                    <option class="period-item" id="triwulan2" value="Triwulan II" <%= selectedReporting?.reporting.period === 'Triwulan II' ? 'selected' : '' %>>Triwulan II</option>                              
                    <option class="period-item" id="triwulan3" value="Triwulan III" <%= selectedReporting?.reporting.period === 'Triwulan III' ? 'selected' : '' %>>Triwulan III</option>                              
                    <option class="period-item" id="triwulan4" value="Triwulan IV" <%= selectedReporting?.reporting.period === 'Triwulan IV' ? 'selected' : '' %>>Triwulan IV</option>       
                </select>                               
            </div>                                        
            <div class="mb-3">
                <label for="year" class="form-label">Tahun <span class="text-danger"> *</span></label>                                
                <input value="<%= selectedReporting?.reporting.year %>" type="number" class="form-control" name="reporting[year]" id="year" required>
            </div>
            <div class="border row rounded p-2 mb-3">
                <input type="hidden" id="institutions-data" value="<%= JSON.stringify(institutions) %>">
                <div class="d-flex flex-row justify-content-between">
                    <p class="h6 mb-3">Daftar Lembaga Penerima Anggaran DBH : </p>
                    <button type="button" id="add-institution-btn" class="btn btn-success mb-3 mx-2 btn-sm">TAMBAH LEMBAGA</button>
                </div> 
                <div id="institution-dbh-form">                    
                    <% let id = 0; %>
                    <% if(selectedReporting?.institutionBudget.length > 0) { %>
                        <% for(let item of selectedReporting?.institutionBudget) { %>
                            <input type="hidden" name="institutionBudget[<%= id %>][_id]" id="doc-id-<%= id %>" value="<%= item._id %>">
                            <div class="d-inline-flex my-2 align-items-center old-data-institution" id="institution-<%= id %>">  
                                <div class="me-2 w-50">                                      
                                    <label for="opd-id-<%= id %>" class="form-label">Nama Lembaga <span class="text-danger"> *</span></label>
                                    <select name="institutionBudget[<%= id %>][opdId]" id="opd-id-<%= id %>" class="form-select institution-select" aria-label="Institution Select" required>
                                        <option class="institution-item" value="">Pilih Lembaga</option>                              
                                        <% for(let opd of institutions) { %>
                                            <option class="institution-item" value='<%= opd._id %>' id="<%= opd._id %>" <%= opd._id.toString() == item.opdId.toString() ? 'selected' : '' %>><%= opd.institutionName %></option> 
                                        <% } %>
                                    </select>                               
                                </div>                                                                                                                          
                                <div class="me-2">
                                    <label for="pkbBudget<%= id %>" class="form-label">PKB</label>
                                    <input type="number" class="form-control" value="<%= item.dbhBudget.pkb %>" name="institutionBudget[<%= id %>][dbhBudget][pkb]" id="pkb-budget-<%= id %>">
                                </div>                                                        
                                <div class="me-2">
                                    <label for="bbnkbBudget<%= id %>" class="form-label">BBNKB</label>
                                    <input type="number" class="form-control" value="<%= item.dbhBudget.bbnkb %>" name="institutionBudget[<%= id %>][dbhBudget][bbnkb]" id="bbnkb-budget-<%= id %>">
                                </div> 
                                <div class="me-2">
                                    <label for="pbbkbBudget<%= id %>" class="form-label">PBBKB</label>
                                    <input type="number" class="form-control" value="<%= item.dbhBudget.pbbkb %>" name="institutionBudget[<%= id %>][dbhBudget][pbbkb]" id="pbbkb-budget-<%= id %>">
                                </div>                                                        
                                <div class="me-2">
                                    <label for="papBudget<%= id %>" class="form-label">PAP</label>
                                    <input type="number" class="form-control" value="<%= item.dbhBudget.pap %>" name="institutionBudget[<%= id %>][dbhBudget][pap]" id="pap-budget-<%= id %>">
                                </div>
                                <div class="me-2">
                                    <label for="pajakRokokBudget<%= id %>" class="form-label">Pajak Rokok</label>
                                    <input type="number" class="form-control" value="<%= item.dbhBudget.pajakRokok %>" name="institutionBudget[<%= id %>][dbhBudget][pajakRokok]" id="pajakRokok-budget-<%= id %>">
                                </div>    
                                <div class="px-2 pt-3 remove-institution-btn">
                                    &#x274C;
                                </div>                                                     
                            </div>
                            <% id++; %>
                        <% } %>
                    <% } %>
                </div> 
                <div class="d-inline mb-3">
                    <p class="h6">Total Lembaga : <span id="total-opd-txt"><%= selectedReporting?.reporting.totalOpd ?? 0 %></span></p>
                    <input type="hidden" id="idx-arr" value="<%= selectedReporting?.reporting.totalOpd ?? 0 %>" required>
                    <input type="hidden" name="reporting[totalOpd]" id="total-opd" value="<%= selectedReporting?.reporting.totalOpd ?? 0 %>" required>
                </div>               
            </div>
            <div class="border row rounded p-2 mb-5">
                <p class="h6 text-primary mb-3">Jumlah Penerimaan DBH</p>
                <div class="col me-3">                      
                    <div class="my-2">
                        <label for="pkbRecieved" class="form-label">PKB<span class="text-danger"> *</span></label>
                        <input value="<%= selectedReporting?.reporting.dbhRecieved.pkb %>" type="number" class="form-control" name="reporting[dbhRecieved][pkb]" id="pkb-recieved" required>
                    </div>                                                        
                    <div class="my-2">
                        <label for="pbbkbRecieved" class="form-label">PBBKB<span class="text-danger"> *</span></label>
                        <input value="<%= selectedReporting?.reporting.dbhRecieved.pbbkb %>" type="number" class="form-control" name="reporting[dbhRecieved][pbbkb]" id="pbbkb-recieved" required>
                    </div>                                                        
                    <div class="my-2">
                        <label for="pajakRokokRecieved" class="form-label">Pajak Rokok<span class="text-danger"> *</span></label>
                        <input value="<%= selectedReporting?.reporting.dbhRecieved.pajakRokok %>" type="number" class="form-control" name="reporting[dbhRecieved][pajakRokok]" id="pajakRokok-recieved" required>
                    </div>                                                        
                </div>
                <div class="col">
                    <div class="my-2">
                        <label for="bbnkbRecieved" class="form-label">BBNKB<span class="text-danger"> *</span></label>
                        <input value="<%= selectedReporting?.reporting.dbhRecieved.bbnkb %>" type="number" class="form-control" name="reporting[dbhRecieved][bbnkb]" id="bbnkb-recieved" required>
                    </div> 
                    <div class="my-2">
                        <label for="papRecieved" class="form-label">PAP<span class="text-danger"> *</span></label>
                        <input value="<%= selectedReporting?.reporting.dbhRecieved.pap %>" type="number" class="form-control" name="reporting[dbhRecieved][pap]" id="pap-recieved" required>
                    </div> 
                </div>
            </div>            
            <div class="d-flex ms-2 mt-3  justify-content-end">                                                    
                <button type="button" id="clear-btn" class="btn btn-secondary mb-3 mx-2" style="width: 18%;">CLEAR</button>                            
                <button type="submit" id="submit-form-btn" class="btn btn-primary mb-3 mx-2" style="width: 18%;">SIMPAN DATA</button>                            
            </div>
        </form>                               
    </main>    

    <script src="/js/admin/create-reporting.js"></script>

<%- include('../partials/end.ejs') %>