<%- include('../partials/head.ejs') %>
</head>
<body>
    <main class="container-fluid my-5 mx-3">        
        <div class="row justify-content-between">                
            <div class="col-5 d-flex flex-row p-2 w-50">
                <img src="images/logo.png" class="rounded d-block w-75 h-75" alt="logo">
                <h1 class="display-6 mt-3 mx-4 mb-5 fw-semibold align-self-center">SISTEM APLIKASI PERTANGGUNGJAWABAN-DBH PROVINSI (SIAP-DP)</h1>  
            </div>
            <div class="col-5 p-2 w-5">
                <p class="h6 my-2">Laporan <span class="px-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <%= currentReporting.period  + ' | ' +  currentReporting.year%></span></p>                
                <p class="h6 my-2">Jumlah Lembaga <span class="px-3"> : <%= currentReporting.totalDbhOpdAdded + ' / ' + currentReporting.totalOpd %></span></p>
                <p class="h6 my-2">Status Laporan <span class="px-4 <%= currentReporting.isDone ? 'text-success' : 'text-danger' %>">&nbsp; : <%= currentReporting.isDone ? 'Sudah Selesai' : 'Pending' %></span></p>
                <div class="d-flex my-4">     
                    <button type="button" class="btn btn-danger me-3">DOWNLOAD PDF</button>                        
                    <button type="submit" class="btn btn-success"><a href="/admin/<%= currentReporting.title.replace(/\s/g, '-') %>/download-excel">DOWNLOAD EXCEL</a></button>                                                            
                </div>                    
            </div>
        </div>         
        <% if(dbhRealizationOpd.length > 0) { %>                                  
            <div class="table-responsive">
                <table
                  class="table align-middle table-bordered text-center table-hover"
                  style="width: 3000px"
                >
                    <colgroup>
                        <col span="1" style="width: 3%" />
                        <col span="1" style="width: 10%" />
                        <col span="11" style="width: 3%" />                   
                    </colgroup>
                    <thead class="table-dark align-middle">
                        <tr>
                            <th rowspan="3" scope="col">No Rek</th>
                            <th rowspan="3" scope="col">Program/Kegiatan</th>
                            <th rowspan="3" scope="col">Jumlah Pagu Anggaran</th>
                            <th colspan="10" scope="col">Dana Bagi Hasil</th>                      
                        </tr>
                        <tr>
                            <th colspan="2" scope="col">
                                Pendapatan Bagi Hasil Pajak Kendaraan Bermotor (PKB)
                            </th>
                            <th colspan="2" scope="col">
                                Pendapatan Bagi Hasil Bea Balik Nama Kendaraan Bermotor (BBNKB)
                            </th>
                            <th colspan="2" scope="col">
                                Pendapatan Bagi Hasil Pajak Bahan Bakar Kendaraan Bermotor (PBBKB)
                            </th>
                            <th colspan="2" scope="col">
                                Pendapatan Bagi Hasil Pajak Air Permukaan (PAP)
                            </th>
                            <th colspan="2" scope="col">Pendapatan Bagi Hasil Pajak Rokok</th>
                        </tr>
                        <tr>
                            <th scope="col">Anggaran</th>
                            <th scope="col">Realisasi</th>
                            <th scope="col">Anggaran</th>
                            <th scope="col">Realisasi</th>
                            <th scope="col">Anggaran</th>
                            <th scope="col">Realisasi</th>
                            <th scope="col">Anggaran</th>
                            <th scope="col">Realisasi</th>
                            <th scope="col">Anggaran</th>
                            <th scope="col">Realisasi</th>                      
                        </tr>
                    </thead>
                    <tbody class="align-middle table-group-divider">                     
                        <% for(let dbhOpd of dbhRealizationOpd) { %> 
                            <% for(let dbhData of dbhOpd.data) { %>                       
                                <% if(dbhData.parameter == "Lembaga") { %>
                                    <tr id="<%= dbhData.name %>" class="table-primary">
                                        <th scope="row"><%= dbhData.noRek %></th>                                    
                                        <td class="text-uppercase fs-5 fw-semibold"><%= dbhData.name %></td>                                                                                          
                                        <td colspan="11"></td>                           
                                    </tr>                
                                <% } else { %>
                                    <tr id="<%= dbhData.name %>" class="<%= dbhData.parameter === 'Program' 
                                        ? 'table-success' 
                                        : dbhData.parameter === 'Kegiatan' 
                                          ? 'table-warning' 
                                          : '';
                                       %>">
                                        <th scope="row"><%= dbhData.noRek %></th>
                                        <% if(dbhData.parameter === "Program") { %>
                                            <td class="text-uppercase fw-bold"><%= dbhData.name %></td>              
                                        <% }  else { %>
                                            <td class="px-3 text-start <%= dbhData.parameter === 'Kegiatan' 
                                              ? 'fw-medium' 
                                              : '';
                                           %>"><%= dbhData.name %></td>              
                                        <% } %>
                                        <td><%= dbhData.pagu %></td>
                                        <td><%= dbhData.dbh.pkb[0] %></td>
                                        <td><%= dbhData.dbh.pkb[1] %></td>
                                        <td><%= dbhData.dbh.bbnkb[0] %></td>
                                        <td><%= dbhData.dbh.bbnkb[1] %></td>
                                        <td><%= dbhData.dbh.pbbkb[0] %></td>
                                        <td><%= dbhData.dbh.pbbkb[1] %></td>
                                        <td><%= dbhData.dbh.pap[0] %></td>
                                        <td><%= dbhData.dbh.pap[1] %></td>
                                        <td><%= dbhData.dbh.pajakRokok[0] %></td>
                                        <td><%= dbhData.dbh.pajakRokok[1] %></td>                           
                                    </tr>                
                                <% } %>
                            <% } %>
                            <tr id="sub-total">
                                <td></td>
                                <th scope="row">Sub Total</th>
                                <td><%= dbhOpd.totalDbhOpd.pagu %></td>
                                <td><%= dbhOpd.totalDbhOpd.dbh.pkb[0] %></td>
                                <td><%= dbhOpd.totalDbhOpd.dbh.pkb[1] %></td>
                                <td><%= dbhOpd.totalDbhOpd.dbh.bbnkb[0] %></td>
                                <td><%= dbhOpd.totalDbhOpd.dbh.bbnkb[1] %></td>
                                <td><%= dbhOpd.totalDbhOpd.dbh.pbbkb[0] %></td>
                                <td><%= dbhOpd.totalDbhOpd.dbh.pbbkb[1] %></td>
                                <td><%= dbhOpd.totalDbhOpd.dbh.pap[0] %></td>
                                <td><%= dbhOpd.totalDbhOpd.dbh.pap[1] %></td>
                                <td><%= dbhOpd.totalDbhOpd.dbh.pajakRokok[0] %></td>
                                <td><%= dbhOpd.totalDbhOpd.dbh.pajakRokok[1] %></td>                                
                            </tr> 
                        <% } %>                                             
                        <tr>
                            <td></td>
                            <th scope="row" class="text-primary">TOTAL</th>
                            <td><%= currentReporting.totalInstitutionDbh.pagu %></td>
                            <td><%= currentReporting.totalInstitutionDbh.pkb[0] %></td>
                            <td><%= currentReporting.totalInstitutionDbh.pkb[1] %></td>
                            <td><%= currentReporting.totalInstitutionDbh.bbnkb[0] %></td>
                            <td><%= currentReporting.totalInstitutionDbh.bbnkb[1] %></td>
                            <td><%= currentReporting.totalInstitutionDbh.pbbkb[0] %></td>
                            <td><%= currentReporting.totalInstitutionDbh.pbbkb[1] %></td>
                            <td><%= currentReporting.totalInstitutionDbh.pap[0] %></td>
                            <td><%= currentReporting.totalInstitutionDbh.pap[1] %></td>
                            <td><%= currentReporting.totalInstitutionDbh.pajakRokok[0] %></td>
                            <td><%= currentReporting.totalInstitutionDbh.pajakRokok[1] %></td>          
                        </tr>          
                        <tr>
                            <td></td>
                            <th scope="row" class="text-primary">DANA DBH PROVINSI</th>
                            <td><%= currentReporting.totalDbhBudget %></td>            
                            <td colspan="10"></td>
                        </tr>          
                        <tr>
                            <td></td>
                            <th scope="row" class="text-primary">REALISASI S/D BULAN JUNI (<%= currentReporting.period %>)</th>
                            <td><%= currentReporting.totalDbhRealization %></td>            
                            <td colspan="10"></td>
                        </tr>                                    
                    </tbody>
                </table>
            </div>              
        <% } else { %> 
            <div class="h-100 w-100 justify-content-center align-items-center text-center">
                <h1 class="display-4">Data Belum Ditambahkan</h1>
            </div>
        <% } %>
        <%- include('../partials/toast-msg.ejs') %> 
    </main>               
<%- include('../partials/end.ejs') %>