<%- include('../partials/head.ejs') %>
</head>
<body>
    <main class="mx-3">
        <div class="container-fluid my-5">
            <div class="row justify-content-between">                
                <div class="col-5 d-flex flex-row p-2 w-50">
                    <img src="images/logo.png" class="rounded d-block w-75 h-75" alt="logo">
                    <h1 class="display-6 mt-3 mx-4 mb-5 fw-semibold align-self-center">SISTEM APLIKASI PERTANGGUNGJAWABAN-DBH PROVINSI (SIAP-DP)</h1>  
                </div>
                <div class="col-5 p-2 w-5">
                    <p class="h6 my-1">OPD <span class="px-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <%= opd.opdName %></span></p>
                    <p class="h6 my-1">Lembaga <span class="px-5"> &nbsp;: <%= opd.institution %></span></p>
                        <div class="d-flex my-1 align-items-center">
                            <p class="h6">Triwulan <span class="ps-5"> &nbsp; : &nbsp;&nbsp;</p>
                            <div class="dropdown">
                                <button id="period-btn" class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%= filter.period %></button>
                                <ul class="dropdown-menu">
                                    <% for(let period of dbhBudget.reportingData.periods) { %>
                                        <li><a id="period-list" class="dropdown-item <%= filter.period == period ? 'active' : '' %>"><%= period %></a></li>
                                    <% } %>                
                                </ul> 
                            </div>
                        </div>
                        <div class="d-flex my-1 align-items-center">
                            <p class="h6">Tahun Anggaran : &nbsp;&nbsp;</p>
                            <div class="dropdown" >
                                <button id="year-btn" class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%= filter.year %></button>
                                <ul class="dropdown-menu">
                                    <% for(year of dbhBudget.reportingData.years) { %>
                                        <li><a id="year-list" class="dropdown-item <%= filter.year == year ? 'active' : '' %>"><%= year %></a></li> 
                                    <% } %>                             
                                </ul>
                            </div>
                        </div>
                        <button type="button" class="w-25 btn btn-secondary mb-3"><a id="filter-btn">TERAPKAN</a></button>             
                </div>
                <nav class="nav nav-pills flex-column flex-sm-row mx-3 mb-5">
                    <a class="flex-sm-fill text-sm-center nav-link bg-light fw-medium" aria-current="page" href="#">EDIT PROFILE</a>
                    <a class="flex-sm-fill text-sm-center nav-link bg-light text-black fw-medium" href="#">LOGOUT</a>
                    <a class="flex-sm-fill text-sm-center nav-link bg-light text-black fw-medium" href="#">DELETE ACCOUNT</a>
                  </nav>
            </div>
            <div class="border p-3">
                <p class="h5 mb-5 text-center">Formulir Input Data Realisasi DBH</p>
                <form action="/api/dbh" method="POST" class="needs-validation" novalidate>
                    <div class="row d-flex row-cols-3">
                        <div class="col-4 flex-grow-1 me-2">
                            <div class="mb-3">
                                <label for="parameter" class="form-label">Parameter <span class="text-danger">*</span></label>
                                <div class="dropdown">
                                    <input type="hidden" name="parameter" id="parameter" required>
                                    <button id="parameter-btn" class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Pilih Parameter
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a id="parameter-list" class="dropdown-item">Lembaga</a></li>
                                      <li><a id="parameter-list" class="dropdown-item">Program</a></li>                              
                                      <li><a id="parameter-list" class="dropdown-item">Kegiatan</a></li>                              
                                      <li><a id="parameter-list" class="dropdown-item">Sub Kegiatan</a></li>                              
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Judul<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="no-rek" class="form-label">No. Rek <span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" name="noRek" id="no-rek" required>
                            </div>
                            <div class="mb-3">
                                <label for="pagu" class="form-label">Pagu Anggaran (DPA) <span class="text-danger"> *</span></label>                                
                                <input type="number" class="form-control" name="pagu" id="no-rek" required>
                            </div>
                        </div>
                        <div class="col-4 flex-grow-1 mx-2">
                            <p class="h6 text-primary mb-3">Dana Bagi Hasil</p>
                            <div class="d-flex mb-3">
                                <div class="me-4">
                                    <p class="h6 mb-2">PKB</p>
                                    <div class="d-flex">
                                        <div class="mb-3 me-3">
                                            <label for="pkb-budget" class="form-label">Anggaran</label>
                                            <input type="number" class="form-control" name="pkbBudget" id="pkb-budget">
                                        </div>
                                        <div class="mb-3">
                                            <label for="pkb-realization" class="form-label">Realisasi</label>
                                            <input type="number" class="form-control" name="pkbRealization" id="pkb-realization">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="h6 mb-2">BBNKB</p>
                                    <div class="d-flex">
                                        <div class="mb-3 me-3">
                                            <label for="bbnkb-budget" class="form-label">Anggaran</label>
                                            <input type="number" class="form-control" name="bbnkbBudget" id="bbnkb-budget">
                                        </div>
                                        <div class="mb-3">
                                            <label for="bbnkb-realization" class="form-label">Realisasi</label>
                                            <input type="number" class="form-control" name="bbnkbRealization" id="bbnkb-realization">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="me-4">
                                    <p class="h6 mb-2">PBBKB</p>
                                    <div class="d-flex">
                                        <div class="mb-3 me-3">
                                            <label for="pbbkb-budget" class="form-label">Anggaran</label>
                                            <input type="number" class="form-control" name="pbbkbBudget" id="pbbkb-budget">
                                        </div>
                                        <div class="mb-3">
                                            <label for="pbbkb-realization" class="form-label">Realisasi</label>
                                            <input type="number" class="form-control" name="pbbkbRealization" id="pbbkb-realization">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="h6 mb-2">PAP</p>
                                    <div class="d-flex">
                                        <div class="mb-3 me-3">
                                            <label for="pap-budget" class="form-label">Anggaran</label>
                                            <input type="number" class="form-control" name="papBudget" id="pap-budget">
                                        </div>
                                        <div class="mb-3">
                                            <label for="pap-realization" class="form-label">Realisasi</label>
                                            <input type="number" class="form-control" name="papRealization" id="pap-realization">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <p class="h6 mb-2">Pajak Rokok</p>
                                <div class="d-flex">
                                    <div class="mb-3 me-3">
                                        <label for="pajak-rokok-budget" class="form-label">Anggaran</label>
                                        <input type="number" class="form-control" name="pajakRokokBudget" id="pajak-rokok-budget">
                                    </div>
                                    <div class="mb-3">
                                        <label for="pajak-rokok-realization" class="form-label">Realisasi</label>
                                        <input type="number" class="form-control" name="pajakRokokRealization" id="pajak-rokok-realization">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex ms-2 justify-content-end">   
                        <input type="hidden" value="<%= filter.period %>" name="period" required>
                        <input type="hidden" value="<%= filter.year %>" name="year" required>                 
                        <button type="submit" class="btn btn-danger mb-3 mx-2" style="width: 15%;">CLEAR</button>                                                                                                    
                        <button type="submit" class="btn btn-primary mb-3 mx-2" style="width: 15%;">TAMBAH</button>                            
                    </div>
                </form>
            </div>
        </div>
        <% if(dbhBudget.dataDbhOpd.length > 0) { %>                        
            <%- include('../partials/data-table.ejs') %>
        <% } else { %>
            <div class="h-100 w-100">
                <h1 class="display-4">Data Belum Ditambahkan</h1>
            </div>
        <% } %>
    </main>

<%- include('../partials/end.ejs') %>