<%- include('../partials/head.ejs') %>
</head>
<body>
    <main>
        <div class="container my-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-4 mx-auto">            
                    <p class="h2 mb-5 text-center"><%= pageTitle %></p>                    
                    <form action="/api<%= path %>" method="POST" class="needs-validation"  novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" id="username" value="<%= selectedOpd?.username %>">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                        <div class="mb-3">
                            <label for="opd-name" class="form-label">Nama OPD</label>
                            <input type="text" class="form-control" name="opdName" id="opd-name" value="<%= selectedOpd?.opdName %>">
                        </div>
                        <div class="mb-3">
                            <label for="phone-number" class="form-label">Nomor HP</label>
                            <input type="text" class="form-control" name="phone" id="phone-number" value="<%= selectedOpd?.phone %>">
                        </div>                     
                        <div class="mb-3">
                            <label for="institutionName" class="form-label">Nama Lembaga</label>
                            <input type="text" class="form-control" name="institutionName" id="institution" value="<%= selectedOpd?.institutionName %>">
                        </div>                                             
                        <div class="mt-5 w-100 text-center">
                            <% if(domain == "auth") { %>
                                <button type="submit" class="w-100 btn btn-primary mb-3">DAFTAR AKUN</button>
                                <p><a href="/login" class="link-underline-primary">Balik Login</a></p>
                            <% } else { %>
                                <button type="submit" class="w-100 btn btn-primary mb-3">UPDATE PROFILE</button>                                    
                            <% } %>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>    

<%- include('../partials/end.ejs') %>