<%- include('../partials/head.ejs') %>
</head>
<body>
    <main>
        <div class="container my-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-4 mx-auto">            
                    <p class="h2 mb-5 text-center"><%= pageTitle %></p>                    
                    <form action="/api<%= path %>" method="POST" class="needs-validation"  novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="username" id="username" value="<%= selectedOpd?.username %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="opd-name" class="form-label">Nama OPD <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="opdName" id="opd-name" value="<%= selectedOpd?.opdName %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone-number" class="form-label">Nomor HP <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="phone" id="phone-number" value="<%= selectedOpd?.phone %>" required>
                        </div>                     
                        <div class="mb-5">
                            <label for="institutionId" class="form-label">Lembaga <span class="text-danger">*</span></label>
                            <div class="dropdown">
                                <input type="hidden" class="form-control" name="institutionId" id="institution" value='<%= selectedInstitution?._id %>' required>                                
                                <button id="institution-btn" class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= selectedInstitution?.institutionName ?? "Pilih Lembaga" %>
                                </button>
                                <ul class="dropdown-menu">
                                    <% for(let item of institutionData) { %>
                                        <li><a class="dropdown-item institution-item <%= item._id == selectedInstitution?._id ? 'active' : '' %>" id="<%= item._id %>"><%= item.institutionName %></a></li>                                        
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="mt-5 w-100 text-center">
                            <% if(domain == "auth") { %>
                                <button type="submit" class="w-100 btn btn-primary mb-3">DAFTAR AKUN</button>
                                <p><a href="/login" class="link-underline-primary">Balik Login</a></p>
                            <% } else { %>
                                <button type="submit" class="w-100 btn btn-primary mb-3">UPDATE PROFILE</button>                                    
                            <% } %>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/opd-profile.js"></script>

<%- include('../partials/end.ejs') %>